@page "/dashboard/psychologist"

<div class="container">
     <div class="side">

     </div>
</div>
 <style>
    .side {
        width: 70%;
        margin-right: 100px;
        background-color: #D9D9D9;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;

    }

 </style>
@code {
               
}
